$slider-handle-width: 64px;
.slider-wrapper {
    position: relative;
    margin: $slider-handle-width/2;
}

#phSlider {
    height: 3px;
    .noUi-target {
        background: #302e2b;
        border: 1px solid #302e2b;
        box-shadow: none;
    }
    .noUi-connects, .noUi-marker {
        background: #302e2b;
    }
    .noUi-pips-horizontal {
        padding-top: 0;
        top: -7.5px;
        font-size: 24px;
    }
    .noUi-value-sub {
        font-size: 24px;
    }
    .noUi-value-horizontal {
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        color: #2d2a26;
        padding-top: 8px;
    }
    .noUi-handle {
        background-color: transparent;
        background-image: url("./images/slider-selector.png");
        background-position: center;
        border: 0;
        cursor: pointer;
        box-shadow: none;

        width: $slider-handle-width;
        height: calc($slider-handle-width - 6px);
        background-size: $slider-handle-width;
        top: -29px;
        right: -($slider-handle-width / 2);
    }
    .noUi-handle:after,
    .noUi-handle:before {
        display: none;
    }
    .noUi-tooltip {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        left: 50%;
        bottom: 10%;
        border: 0;
        background: none;
        color: #fbeee4;
        font-size: 0.85em;
    }
    .noUi-marker-horizontal.noUi-marker-large,
    .noUi-marker-horizontal.noUi-marker-sub {
        height: 15px;
    }
    .noUi-marker-horizontal.noUi-marker-normal {
        height: 10px;
        margin-top: 3px;
    }
}

#sliderContext {
    width: 101%;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: 70px;
    left: -10px;
}

#sliderContext > div {
    flex-grow: 1;
    width: 33%;
    height: 100px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}